@model L02_2022LM653_2022BB650.Models.clientes

@{
    ViewData["Title"] = "Inicio de Venta";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"   />


@* <h2 class="text-center">Venta de Libros</h2> *@

<div class="text-center bg-dark text-white py-3">
    <img src="/img/logo1.png" alt="Logo" width="100">
    <h2>Venta de Libros</h2>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proceso de Venta</h4>
            <h5 class="card-subtitle mb-3">Datos del Cliente</h5>

            @using (Html.BeginForm("IniciarVenta", "Clientes", FormMethod.Post))
            {
                <div class="form-group mb-3">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @Html.Label("nombre", "Nombre")
                            @Html.TextBox("nombre", "", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-6">
                            @Html.Label("apellido", "Apellido")
                            @Html.TextBox("apellido", "", new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @Html.Label("email", "Email")
                            @Html.TextBox("email", "", new { @class = "form-control", type = "email", required = "required" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.Label("direccion", "Dirección")
                            @Html.TextBox("direccion", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Iniciar Venta</button>
                </div>
            }
        </div>
    </div>
</div>




